<header>
    <h1>The Onion (Scraper)</h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-dark" id="scrape-button">Scrape New Articles</button>
        </div>
    </div>
    {{#each articles}}
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8" id="articles" data-id="{{_id}}">
            <h2>
                <a href="{{link}}">{{title}}</a>
            </h2>
            <p>{{summary}}</p>
            <div class="text-center">
                <button type="button" class="btn btn-dark" id="comment-button" data-id="{{_id}}">Comment</button>
            </div>
            <div id="comment-modal" class="modal" data-id="{{_id}}">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    {{#each comments}}
                    <p>{{title}}</p>
                    <p>{{body}}</p>
                    <button type="button" class="btn btn-dark" id="delete-button" data-id="{{_id}}">Delete</button>
                    {{/each}}
                    <form>
                        <div class="form-group">
                            <label for="comment-title">Title</label>
                            <input type="text" class="form-control" id="comment-title" placeholder="Title">
                        </div>
  
                        <div class="form-group">
                            <label for="comment-body">Comment</label>
                            <textarea class="form-control" id="comment-body" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" id="comment-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>
    {{/each}}
</div>